#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

section {
  background-color: white;
  border: rgb(6, 6, 6) 2px solid;
  border-radius: 20px;
  margin: 1rem; /* Reduce margin */
  padding: 1rem; /* Add padding */
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.client {
  padding: 1rem; /* Reduce padding */
  div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    input {
      width: 70%;
      margin: 5px 2rem;
      background-color: aliceblue;
      color: black;
      font-weight: bold;
      font-size: large;
    }
    label {
      text-align: end;
      font-weight: bold;
      font-size: large;
    }
  }
}
.livraison {
  padding: 1rem; /* Reduce padding */
  div {
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-left: 5rem;
    input {
      margin: 5px 2rem;
      background-color: aliceblue;
      color: black;
      font-weight: bold;
      font-size: large;
    }
    label {
      font-weight: bold;
      font-size: large;
    }
  }
}
.juridique {
  padding: 1rem; /* Reduce padding */
  h2 {
    font-weight: bold;
  }
  h3 {
    font-style: italic;
    font-size: 1rem;
  }
  p {
    font-size: 0.8rem;
    text-align: start;
    margin-left: 2rem;
  }
}
@media (min-width: 600px) and (max-width: 768px) {
  .client {
    div {
      label {
        text-align: start;
      }
    }
  }
  .livraison {
    padding: 1rem; /* Reduce padding */
    div {
      display: flex;
      flex-direction: column;
      text-align: start;
      margin-left: 0;
      input {
        margin: 5px 2rem;
        background-color: aliceblue;
        color: black;
        font-weight: bold;
        font-size: large;
      }
      label {
        font-weight: bold;
        font-size: large;
      }
    }
  }
}
@media print {
  .page {
    margin: 0;
    padding: 10mm;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
  }

  .header,
  .client,
  .livraison,
  .juridique {
    page-break-inside: avoid;
    margin: 0 auto;
    padding: 10mm;
    width: 100%;
    box-sizing: border-box;
  }

  @page {
    margin: 10mm;
  }

  .header {
    margin-top: 10mm;
    display: none;
    text-align: center;
  }

  .logo {
    display: none;
    margin: 0 auto;
  }
  button {
    display: none;
  }

  input,
  textarea,
  select,
  label {
    border: none;
    box-shadow: none;
    width: 100%;
  }

  h1,
  h2,
  h3 {
    font-size: 1.5em;
  }

  p,
  label,
  input,
  textarea,
  select {
    font-size: 1em;
  }
  section {
    page-break-inside: avoid;
    font-size: 6mm;
  }
}
